.acf-field-5a14aa5cde9e6 .acf-fields.-left > .acf-field.acf-accordion .acf-accordion-title {
	/*background: #ebebeb!important;
    color: #333!important;*/
}
.acf-field-5a14aa5cde9e6 .acf-fields.-left > .acf-field:first-child:before {
    background: #333!important;
    color: #fff!important;
}

.acf-field-5a14aa5cde9e6 .acf-fields.-left > .acf-field:first-child .acf-label {color: #fff!important;}
