@import "mixins";
@import "variables";

html {
    font-size: 74%;
    overflow-x: hidden;
}

body {
    @include OpenSans;
    @include font-size(16, 1.428);
    font-weight: 400;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-image: url(../images/BKGD_Tile.jpg)
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    clear: both;
    color: $primary;
    @include OpenSans;
    font-weight: 300;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-bottom: 20px;
}

/*h1,
.h1 {
    @include font-size(30, 1.1);
    @include sm {
        @include font-size(36, 1.1);
    }
}

h2,
.h2 {
    @include font-size(24, 1.1);
    @include sm {
        @include font-size(30, 1.1);
    }
}

h3,
.h3 {
    @include font-size(20, 1.1);
    @include sm {
        @include font-size(24, 1.1);
    }
}*/

p,
ol,
ul {
    margin-bottom: 20px;
    @include font-size(15, 1.75);
    @include xl {
        @include font-size(15, 1.75);
    }
}

ul,
menu,
dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

*:focus {
    outline: 0 !important;
}

a img {
    border: none;
}

a img,
a:active {
    outline: none;
}

img {
    max-width: 100%;
    &.img-responsive {
        margin: 0 auto;
    }
}

a {
    color: $primary;
}

a:active,
a:focus,
a:hover {
    color: $primary;
}

a[href^=tel] {
    @include md {
        pointer-events: none;
    }
}

.full {
    float: left;
    width: 100%;
    @include clearFix;
}

.full:before {
    content: " ";
    display: table;
}

#main,
#content,
#colophon,
#primary,
.container {
    margin: 0 auto;
    position: relative;
    @include clearFix;
}

.container {
    @include sm {
        width: 750px;
    }
    @include md {
        width: 970px;
    }
    @include lg {
        width: 1265px;
    }
    @include xl {
        width: 1366px;
    }
    @include xxl {
        width: 1470px;
    }
    @include yl {
        width: 1770px;
    }
    @include zl {
        width: 1890px;
    }
}

.container-fluid {
    @include sm {
        width: 100%;
        padding: 0 15px;
    }
    @include md {
        width: 100%;
        padding: 0 15px;
    }
    @include lg {
        width: 100%;
        padding: 0 15px;
    }
    @include xl {
        width: 100%;
        padding: 0 15px;
    }
    @include xxl {
        width: 100%;
        padding: 0 15px;
    }
    @include yl {
        width: 100%;
        padding: 0 15px;
    }
    @include zl {
        width: 100%;
        padding: 0 15px;
    }
}



// menu
.menu {
    list-style: none;
}

.active-item {
    display: block;
}

// paddings
.nopadding {
    padding-left: 0!important;
    padding-right: 0!important;
}

.sidebarpadding {
    padding: 50px 0;
}

.clear {
    @include clearFix;
}

// Base button styles
.btn {
    padding: 15px 40px;
    color: #fff;
    font-size: 1.4rem;
    max-width: 230px;
    display: block;
    margin: 0 auto!important;
    background-color: $action!important;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active {
        color: #fff; //background-color: $primary!important;
    }
    border:none;
    //text-transform: uppercase;
    text-decoration: none !important;
    @include border-radius(0);
    @include font-size(12, 1);
    @include transition(0.3s);
    @include sm {
        @include border-radius(0);
    }
    @include md {
        @include font-size(14, 1);
        margin: 0;
    }
    @include xl {
        @include font-size(18, 1);
    }
}

.btn-default {
    color: #fff;
    background-color: $primarylight;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 700;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: $primary;
    }
    &.blue {
        background-color: $primary;
        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: $primarylight;
        }
    }
}

.button {
    padding: 20px;
}



.browsehappy {
    text-align: center;
    padding: 25px;
    background-color: #eee;
    margin-bottom: 0;
}

form {
    textarea {
        background-color: $form!important;
        color: $formtext!important;
        border-radius: 0;
        font-size: 18px!important;
        &::placeholder {
            /* Chrome/Opera/Safari */
            color: $formtext!important;
        }
    }
    input[type=text],
    input[type=textarea],
    input[type=email] {
        background-color: $form;
        color: $formtext;
        border-radius: 0;
        font-size: 18px;
        border: none;
        height: 36px;
        padding: 5px 10px;
        &::placeholder {
            /* Chrome/Opera/Safari */
            color: $formtext;
        }
    }
    input[type=button],
    input[type=submit],
    input[type=reset] {
        background-color: $form;
        border: none;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: 0;
        color: white;
        padding: 20px 36px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
}

h1, .h1 {
  font-size: 35px;
  color: $secondary;
  font-weight: 700;
  line-height: 1;
  @include yl {
    font-size: 45px;
  }
}
h2, .h2 {
  font-size: 22px;
  color: $secondary;
  font-weight: 700;
  line-height: 1;
  @include yl {
    font-size: 25px;
  }
}
.section-header {
  text-align: center;
  width: 90%;
  max-width: 320px;
    margin: 0 auto;
  @include sm {
    max-width: 100%;
  }
}
.section-subheader {
  text-align: center;
  color: $offblack;
  font-size: 16px;
  @include yl {
    font-size: 18px;
  }
}
#content ul {
  padding-left: 25px;
}
#content ul li {
  list-style-type: disc;
}
#content a {
  color: $action;
}

/* Styles from old site */
.option {
    text-align: center;
    overflow: hidden;
    padding: 1.5em 0;
    border-top: 3px double #ddd;
}
.option > h2 {
    float: left;
    border: 0;
    background: none;
    margin: 0;
    color: $primary;
    width: 25%;
}
.option > h2 > span {
    display: block;
    font-size: 4em;
    font-weight: 700;
}
.option h1 {
  float: left;
  border: 0;
  background: 0;
  margin: 0;
  color: $primary;
  width: 25%;
  font-size: 4em;
  font-weight: 700;
}
.option .h4 {
    padding: .4em 0 .75em;
    font-size: 1.3em;
    margin: 0;
    font-weight: 600;
}
.option div {
    overflow: hidden;
    border-left: 1px dashed $darkgrey;
    padding: 0 1em;
}
.option table {
    width: 75%;
    margin: 1em auto;
}
.option table th {
    text-align: left;
    font-weight: 600;
}
.option table td {
    text-align: right;
}
.option table caption {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 1em;
    padding: .5em 0;
    border-bottom: 3px double $darkgrey;
}
.footnote {
    color: #555;
    overflow: hidden;
    border-top: 1px dashed #ddd;
    padding-top: .5em;
}
.box {
    position: relative;
    margin: 1.5em 0 0;
    padding: 1em 15px;
    background-color: $lightgrey;
    border: 1px solid $darkgrey;
    overflow: hidden;
    text-align: center;
}
#content {
    padding: 40px 0;
    clear:both;
}
#content .btn-primary {
  max-width: 490px;
}
#content a.btn-primary {
  color: $white;
}
#content #main-content {
    max-width: 830px;
    margin: 0 auto;
    @include lg {
      max-width: 1050px;
    }
}
#content p {
    font-size: 16px;
}

/* IE hacks */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .homeCTA, .img-hover, .img-link {
    @include lg {
      width: 170px !important;
    }
    @include yl {
      width: 290px !important;
    }
  }
  .slick-dots {
    display: none !important;
  }
}
