//Font size conversion for line-height and letter-spacing
@mixin font-size($pixelsize: 16, $line: 1.2) {
  font-size: $pixelsize + px;
  font-size: ($pixelsize / 10) + rem;
  line-height: $line;
}

//Fonts
@mixin OpenSans {
  font-family: 'Open Sans', sans-serif;
}

//Fonts
@mixin FontAwesome {
  font-family: 'font-awesome', sans-serif;
}

//Effects
@mixin transition ($speed) {
    -webkit-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
    -ms-transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    transition: all $speed ease-in-out;
}
@mixin scale ($size) {
    -webkit-transform: scale($size);
    -o-transform: scale($size);
    -ms-transform: scale($size);
    -moz-transform: scale($size);
    transform: scale($size);
}
@mixin skew($deg) {
    -webkit-transform: skew($deg);
    -o-transform: skew($deg);
    -ms-transform: skew($deg);
    -moz-transform: skew($deg);
    transform: skew($deg);
}
@mixin translate ($x,$y) {
    -webkit-transform: translate($x,$y);
    -o-transform: translate($x,$y);
    -ms-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    transform: translate($x,$y);
}
@mixin translate3d($x,$y,$z) {
    -webkit-transform: translate3d($x,$y,$z);
    -o-transform: translate3d($x,$y,$z);
    -ms-transform: translate3d($x,$y,$z);
    -moz-transform: translate3d($x,$y,$z);
    transform: translate3d($x,$y,$z);
}
@mixin scale($amount) {
    -webkit-transform: scale($amount);
    -o-transform: scale($amount);
    -ms-transform: scale($amount);
    -moz-transform: scale($amount);
    transform: scale($amount);
}
@mixin rotate($amount) {
    -webkit-transform: rotate($amount);
    -o-transform: rotate($amount);
    -ms-transform: rotate($amount);
    -moz-transform: rotate($amount);
    transform: rotate($amount);
}
@mixin box-shadow ($horizontal, $vertical, $blur, $color) {
    -moz-box-shadow: $horizontal $vertical $blur $color;
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    box-shadow: $horizontal $vertical $blur $color;
}
@mixin opacity ($amount) {
    //filter: alpha(opacity=$amount*100);
    -moz-opacity: $amount;
    opacity: $amount;
}
@mixin background($position: center, $size: cover, $repeat: no-repeat) {
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}
@mixin border-radius($radius:0) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}


//Media Queries ( Based on Bootstrap 4 )
@mixin xxxsm {
  @media (min-width: 350px) {
    @content;
  }
}
@mixin xxsm {
  @media (min-width: 385px) {
    @content;
  }
}
@mixin xsm {
  @media (min-width: 480px) {
    @content;
  }
}
@mixin sm {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin lg-max {
  @media (max-width: 1366px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1366px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1500px) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: 1600px) {
    @content;
  }
}
@mixin yl {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin zl {
  @media (min-width: 1920px) {
    @content;
  }
}

/* Ninja Grid System */

@mixin grid($cols, $mgn){
  float: left;
  width: ((100% - (($cols - 1) * $mgn)) / $cols );
  margin-right: $mgn;
  margin-bottom: $mgn;
  &:nth-child(#{$cols}n){
    margin-right: 0;
  }
}

@mixin mQ($args...){
  @if length($args) == 1{
    @media screen and (max-width: nth($args, 1)){
      @content;
    }
  }
  @if length($args) == 2{
    @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
      @content;
    }
  }
}

// Helpers

@mixin clearFix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin listFix {
  list-style:none;
}

@mixin menuList {
  margin:0;
  padding:0;
  width: 100%;
}

// Paddings

@mixin boxPadding {
  padding: 50px 0;
}
@mixin contentPadding {
  padding: 3% 10%;
  @include lg {
    padding: 50px 12% 100px;
  }
}

// Titles

@mixin boxTitleWhite {
  color: $white;
  display:block;
  margin:15px auto;
  text-transform:uppercase;
  text-align:center;
  font-weight: bolder;
}

@mixin boxTitle {
  color: $primarylight;
  display:block;
  margin:15px auto;
  text-transform:uppercase;
  text-align:center;
  font-weight: bolder;
}


// Buttons

@mixin boxButton {
  color: $white;
  display:block;
  max-width:70%;
  margin:60px auto 0;
  text-align: center;
  border: 1px solid $primarylight;
  background-color: $primary;
  padding: 10px 50px 20px;
  .title {
    color:$primarylight;
    font-weight:bold;
    text-transform:uppercase;
    font-size:22px;
  }
  .text {
    color:$white;
    font-size:30px;
    line-height: 24px;
  }
  &:hover {
    color:$white;
    text-decoration:none;
  }
}

// Backgrounds

@mixin pattern {
  /*background: $primary url("../images/bg-hero-quote.png") repeat;*/
}
