$primary		    :#003163;
$primarylight	  :#00aeef;
$secondary      :#515782;
$primarytrans	  :rgba(35,40,78,0.8);
$action 		    :#bf533b;
$actiontrans	  :rgba(191,83,59,.8);
$white 		      :#fff;
$black 		      :#000;
$offblack       :#363636;
$grey 			    :#cccccc;
$lightgrey      :#ececec;
$darkgrey       :#a6a6a6;
$form			      :#ececec;
$formtext		    :#a6a6a6;
