@import "mixins";
@import "variables";

/* Content Area */
#main-content {clear:both;}

.site-content {background-color: $white;}

.contentArea {
	@include contentPadding;
	@include clearFix;
	//min-height:900px;
	ul {
    list-style: disc outside none;
    margin: 10px 0 10px 50px;
  }
}

.flexbox {
   display: block;
	@include md {
		display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  overflow: hidden;
	}
}

.flexbox .maincontent {
	width:100%;
	display: block;
	@include md {
		flex: 2;
	}

}
.flexbox .sidebar {
	width:100%;
	display: block;
	@include md {
		flex: 1;
	}
}
