@import "mixins";
@import "variables";

/* Footer */
.footer {
	background-color: $lightgrey;
	padding-top: 15px;
	padding-bottom: 15px;
	li {
		@include zl {
			line-height: 2;
		}
	}
	.logo-social {
		text-align: center;
		@include md {
				border-right: solid 1px $grey;
				padding-right: 65px;
				text-align: left;
				width: 40%;
		}
		@include lg {
				width: 25%;
		}
		@include yl {
			padding-right: 45px;
		}
	}
	.footer-contact {
		padding-bottom: 15px;
		border-bottom: solid 1px $grey;
		margin-bottom: 30px;
		li {
			display: inline-block;
			text-align: center;
			font-size: 13px;
			width: 17.5%;
			color: $secondary;
			b {
				color: $primary;
			}
			@include lg {
				width: 100%;
				text-align: left;
				font-size: 11px;
			}
			@include yl {
				font-size: 22px;
			}
		}
		li.address {
			width: 34%;
			@include lg {
				width: 100%;
			}
		}
		li.email {
			width: 29%;
			@include lg {
				width: 100%;
			}
		}
		@include lg {
			width: 25%;
			float: left;
			border-bottom: none;
			border-left: solid 1px $grey;
			padding-left: 35px;
		}
		@include yl {
			width: 34%;
			padding-left: 55px;
		}
	}
	.footer-logo img {
		padding-bottom: 15px;
	}
	.social-icons {
		ul {
			li {
				display: inline;
				img {
					padding-bottom: 20px;
					@include md {
						max-width: 39px;
					}
					@include yl {
						max-width: 50px;
					}
					@include zl {
						max-width: 100%;
					}
				}
				a:hover {
					text-decoration: none;
				}
				@include yl {
					margin-left: 1px;
				}
			}
			@include md {
				text-align: right;
			}
			@include yl {
				text-align: left;
				margin-left: 125px;
			}
		}
	}
	.footer-nav {
		padding-top: 20px;
		.footer-menu {
			li {
				display: inline;
				float: left;
				width: 31%;
				font-weight: 600;
				text-transform: uppercase;
			}
			@include yl {
				font-size: 22px;
			}
		}
		.fine {
			text-align: center;
			a {
				font-weight: 700;
			}
			@include md {
				text-align: left;
				font-size: 11px;
				padding-top: 30px;
			}
			@include yl {
				font-size: 15px;
			}
		}
		@include md {
			padding-left: 85px;
			width: 60%;
			padding-top: 0;
			padding-right: 0;
		}
		@include lg {
			width: 50%;
		}
		@include yl {
			width: 41%;
		}
	}
}
