@import "mixins";
@import "variables";

/* Footer CTA */
.footercta {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 40px;
  .footercta-header {
    color: $secondary;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .btn {
    max-width: 360px;
  }
  @include yl {
    font-size: 35px;
  }
}
