@import "mixins";
@import "variables";


/* Gallery */

.gallery {
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	.gallery-container {
		padding: 50px 0;
		margin: 0 10%;
		text-align: center;
		.title {
			//text-transform: uppercase;
			font-weight: bold;
			font-size: 24px;
			color: $bluelight;
		}
		.text {
			color: $blue;
			font-size: 3rem;
			line-height: 30px;
			margin: 0 auto;
		}
		img {
			max-width: 100%;
		}
		.slider {
			margin-bottom: 20px;
		}
		.slick-slide {
			outline: none;
		}
		.slider-nav {
			overflow: hidden;
		}

		.slider-nav .slick-slide img {
			cursor: pointer;
			opacity: .9;
			-webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
      		filter: grayscale(100%) brightness(20%) sepia(100%) hue-rotate(-200deg) saturate(700%) contrast(1);
		}

		.slider-nav .slick-slide:hover img {
			cursor: pointer;
			opacity: 1;
			filter: none;
			border: 1px solid $blue;
		}
		.slider-nav .slick-list {
			margin-right: -10px;
			margin-left: -10px;
		}
		.slider-nav .slick-slide {
			padding-right: 10px;
			padding-left: 10px;
		}
	}

	&:after {
		content: " ";
		width: 100%;
		height: 5px;
		margin-top: 30px;
		display: block;
		border-bottom: 2px solid #D1D6DE;
	}
	@include clearFix;
}

// Industry Category Slider

.cat-slider {
	max-width: 80%;
    margin: 0 auto;
	.slider-area {
		width:90%;
		margin:0 auto;
	}	
	.title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 24px;
		color: $bluelight;
	}
	.text {
		color: $blue;
		font-size: 3rem;
		margin: 0 auto;
	}
	padding: 10px 0 0;
	text-align: center!important;
	a.previews {
		text-align: center;
		display: block;
		text-decoration: none;
		padding: 3px 0;
		min-height:20px;
		font-weight:bold;
	}
	a.previews:hover {
		background-color: $blue;
		color: $white;
		display:block;
		min-height:200px;
		img {
			//border: 5px solid $blue;
		}
	}
	.slider-container {
		display: block;
    	height: 200px;
		img {
			max-width: 100%;
			border: 2px solid $blue;
			margin: 0 auto;
		}
		.slider {
			margin-bottom: 20px;
		}
		.slick-slide {
			outline: none;
		}
		.slider-nav .slick-slide img {
			cursor: pointer;
		}

		.slick-prev, .slick-next {top:0;}

		.slick-prev:before {
			font-family: 'FontAwesome';
		    content: "\f104";
		    color: $blue;
		    font-size:12rem;
		    margin-left:-50px;
		}

		.slick-next:before {
			font-family: 'FontAwesome';
		    content: "\f105";
		    color: $blue;
		    font-size:12rem;;
		}

		/*.slider-nav {
			overflow: hidden;
		}
		.slider-nav .slick-list {
			margin-right: -10px;
			margin-left: -10px;
		}
		.slider-nav .slick-slide {
			padding-right: 10px;
			padding-left: 10px;
		}*/
	}

	@include clearFix;
}

