@import "mixins";
@import "variables";





/* Header */

#masthead {
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 600;
	background-color: $white;
	@include sm {
		padding: 20px 0;
	}
	ul {
		font-size: 17px;
		@include lg {
			font-size: 20px;
		}
	}
	.header-logo {
		width: 66%;
		float: left;
		@include xxsm {
			width: 50%;
			margin-right: 10%;
		}
		@include sm {
			padding-top: 20px;
		}
		@include md {
			width: 20%;
		}
		@include lg {
			width: 30%;
		}
		@include yl {
			width: 20%;
		}
		img {
			@include xxxsm {
				max-width: 180px;
			}
			@include xxsm {
				max-width: 200px;
			}
			@include sm {
				max-width: 100%;
			}
			@include md {
				max-width: 250px;
			}
			@include lg {
				max-width: 100%;
			}
		}
		@include sm {
			width: 50%;
			margin-right: 0;
		}
	}
	.phone {
		width: 17%;
		float: left;
		@include xxsm {
			width: 20%;
		}
		@include sm {
			width: 100%;
			text-align: right;
			@include clearFix;
		}
		.phone-icon {
			text-align: center;
			padding: 0 5px;
			@include sm {
				display: inline-block;
			}
			img {
				@include sm {
					max-width: 29px;
					margin-top:-15px;
				}
			}
		}
		.phone-number {
			@include sm {
				display: inline-block;
				font-weight: 600;
				color: $primary;
				font-size: 36px;
			}
			@include md {
				font-size: 26px;
			}
			@include lg {
				font-size: 36px;
			}
			@include yl {
				font-size: 38px;
			}
		}
	}
	.mobile-menu {
		width: 17%;
		float: left;
		@include xxsm {
			width: 20%;
		}
		@include sm {
			float: right;
			width: 100%;
		}
		a {
			color: $action;
			i {
				font-size: 30px;
				text-align: center;
    			display: block;
    			@include xxxsm {
					font-size: 45px;
				}
				@include sm {
					text-align: right;
					font-size: 60px;
				}
			}
		}
	}
	.desktop-break {
		@include sm {
			.tablet-break {
				width: 50%;
				float: left;
				@include md {
					width: 48%;
				}
			}
		}
		@include md {
			float: right;
			width: 55%;
			max-width: 650px;
			border-bottom: solid 1px $grey;
			.top-menu {
				float: left;
				width: 52%;
				.menu-top-menu-container {
					display: table;
    			margin: 0 auto;
    			width: 100%;
					padding-bottom: 15px;
					ul {
						li {
							display: inline;
							padding: 0 0 0 16%;
							a {
								color: $action;
							}
						}
						li:first-child {
							padding-left: 0;
						}
						@include md {
							margin-top: 10px;
						}
						@include lg {
							margin-top: 158px;
						}
					}
					@include md {
						padding-bottom: 10px;
					}
					@include lg {
						padding-bottom: 15px;
					}
				}
			}
		}
	}
	#navigation {
		position: relative;
		@include md {
			clear: right;
			float: right;
			padding-top: 10px;
			width: 70%;
		}
		@include lg {
			padding-top: 15px;
		}
		@include yl {
			width: 80%;
		}
		ul {
			text-align: right;
			position: relative;
			li {
				display: inline;
				padding: 0 3% 0 0;
				position: relative;
				a {
					padding-bottom: 27px;
				}
				@include yl {
					padding: 0 4.7% 0 0;
				}
				ul.sub-menu {
					display: none;
				}
			}
			li:hover {
				margin-top: 0;
				ul.sub-menu {
					text-align: left;
					display: block;
					position: absolute;
					top: 52px;
					left: 0;
					list-style: none;
					padding: 0;
					z-index: 5;
					li {
			    	padding: 7px 0;
			    	font-size: 16px;
						display: inline-block;
						width: 220px;
						background-color: $action;
						a {
				    	color: $white;
							padding: 0 15px;
							display: block;
				    }
			    }
					li:hover {
						margin-top: 0;
						background-color: $secondary;
						a {
							text-decoration: none;
						}
					}
				}
			}
			li:last-child {
				padding-right: 0;
				ul.sub-menu {
					left: auto;
					right: 0;
				}
			}
		}
	}
}
