@import "variables";
@import "mixins";

/* Hero Home */
.hero {
	background-size: cover;
	height: 425px;
	background-position: center;
	color: $white;
	overflow: hidden;
	@include xxxsm {
		height: 560px;
	}
	@include sm {
		height: 730px;
	}
	@include lg {
		height: 535px;
	}
	@include yl {
		height: 730px;
	}
	.hero-color {
		display: table;
		height: 425px;
		background-color: $primarytrans;
		text-align: center;
		padding-top: 100px;
		@include xxxsm {
			height: 560px;
			padding-top: 135px;
		}
		@include sm {
			height: 730px;
			padding-top: 210px;
		}
		@include lg {
			width: 60%;
			background-color: transparent;
			position: relative;
			z-index: 1;
			padding-top: 90px;
		}
		@include yl {
			padding-top: 175px;
			width: 50%;
		}
		.hero-head {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: -8px;
			@include xxxsm {
				font-size: 32px;
			}
			@include sm {
				font-size: 50px;
				margin-bottom: -15px;
			}
			@include lg {
				font-size: 75px;
				margin-bottom: -25px;
			}
		}
		.hero-head-2  {
			padding-left: 25px;
			margin-bottom: 0;
			@include xxxsm {
				padding-left: 35px;
				margin-bottom: 10px;
			}
			@include sm {
				padding-left: 135px;
			}
			@include yl {
				padding-left: 200px;
			}
		}
		.hero-subtext {
			font-size: 12px;
			margin-bottom: 25px;
			@include xxxsm {
				font-size: 16px;
				margin-bottom: 35px;
				padding: 0 10%;
			}
			@include sm {
				margin-top: 25px;
				font-size: 22px;
				padding: 0 20%;
			}
			@include lg {
				font-size: 25px;
				text-align: left;
			}
		}
		.btn {
			padding: 15px 0px;
			@include sm {
				font-size: 22px;
				max-width: 350px;
			}
		}
		img {
			margin-top: 70px;
			@include xxxsm {
				margin-top: 120px;
			}
		}
	}
	.hero-skew {
		@include lg {
			height: 770px;
			width: 70%;
			margin-top: -745px;
			margin-left: -10%;
			position: relative;
			z-index: 0;
			background-color: $primarytrans;
			transform: skew(-20deg, 1deg) ;
			-webkit-transform: skew(-20deg, 1deg) ;
			-moz-transform: skew(-20deg, 1deg) ;
			-o-transform: skew(-20deg, 1deg) ;
			-ms-transform: skew(-20deg, 1deg) ;
		}
		@include yl {
			width: 60%;
		}
	}
	.hero-down {
		@include lg {
			position: absolute;
			z-index: 2;
			left: 50%;
			right: 50%;
			margin-top: -265px;
			@include yl {
				margin-top: -100px;
			}
		}
	}
}
