@import "mixins";
@import "variables";


/* Home About Section & Gallery */

.homeabout {
	padding-bottom: 40px;
	.gallery {
		padding-bottom: 0px;
		@include lg {
			width: 54%;
			float: left;
		}
		@include zl {
			width: 53%;
		}
		.gallery-header  {
			margin: 50px auto 20px;
			line-height: 1.2;
			@include sm {
				font-size: 40px;
			}
		}
		.gallery-container {
			.slider-wrapper {
				.slick-list {
					.slick-track {
						.slider-img {
							@include sm {
								width: 700px;
							}
							@include lg {
								height: 520px;
								width: 520px !important;
							}
							@include zl {
								height: 520px;
								width: 710px !important;
							}
							.img-title {
								display: block;
								background-color: $primarytrans;
								color: $white;
								text-align: center;
								padding: 10px 0;
								font-weight: 500;
								font-size: 22px;
								margin-top: 299px;
								@include sm {
									margin-top: 479px;
								}
								@include lg {
									margin-top: 469px;
								}
							}
						}
					}
					@include lg {
						width: 520px !important;
					}
					@include zl {
						width: 710px !important;
					}
				}
				@include zl {
					width: 79%;
				}
			}
			.slider-nav-wrapper {
				.slick-slide {
					img {
						@include sm {
							max-width: 110px;
						}
					}
				}
				@include lg {
					top: -15px;
				}
			}
		}

	}
	.about-section {
		padding: 0 20px;
		.h1 {
			@include zl {
				margin-bottom: 40px;
			}
		}
		p {
			@include lg {
				line-height: 1.5;
				font-size: 16px;
			}
			@include zl {
				line-height: 1.8;
				margin-bottom: 40px;
			}
		}
		@include lg {
			width: 46%;
			float: left;
			padding: 0 20px 0 30px
		}
	}
	@include lg {
		padding-top: 100px;
	}
	@include xl {
		width: 1265px !important;
	}
	@include zl {
		width: 1690px !important;
	}
}
