@import "mixins";
@import "variables";

/* Home Makeover Gallery */
.hmgallery-container {
	padding-top: 40px;
	.section-header {
		margin-bottom: 50px;
	}
	.hmgallery-row {
		clear: both;
		margin: 0 auto;
		width: 300px;
		.hmgallery {
			width: 145px;
			height: 169px;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
			background-size: cover;
			background-position: center;
			text-align: center;
			position: relative;
			z-index: 0;
			overflow: hidden;
			.h2 {
				font-size: 32px;
				color: $white;
				position: absolute;
				z-index: 3;
				left: -70%;
				top: 45%;
				transition: left .5s ease-in-out;
				@include lg {
					max-width: 290px;
    				text-align: left;
    				padding-left: 50px;
				}
			}
			.hmcover {
				display: block;
				height: 169px;
				background-color: rgba(0,0,0,.3);
				position: relative;
				z-index: 2;
				a {
					display: block;
					height: 169px;
					padding-top: 60px;
					line-height: 1;
					color: $white;
					font-weight: 800;
					font-size: 22px;
					@include lg {
						color: transparent;
					}
				}
				a:hover {
					text-decoration: none;
				}
				@include lg {
					background-color: transparent;
				}
			}
			.hmcolor {
				@include lg {
					background-color: $actiontrans;
					position: absolute;
					z-index: 1;
					height: 439px;
					width: 60%;
					margin-left: -15%;
					top: -10px;
			    position: absolute;
			    z-index: 1;
					transition: margin-left .5s ease-in-out;
			    transform: skew(-20deg,1deg);
			    -webkit-transform: skew(-20deg,1deg);
			    -moz-transform: skew(-20deg,1deg);
			    -o-transform: skew(-20deg,1deg);
			    -ms-transform: skew(-20deg,1deg);
				}
			}
			@include lg {
				margin-bottom: 40px;
			}
		}
		.hmgallery:last-child {
			margin-right: 0;
		}
		.hmgallery:hover .h2 {
			left: 5%;
		}
	}
	.hmgallery-1 {
		position: relative;
		z-index: 0;
		.hmgallery:first-child {
			.hmcolor {
				width: 85%;
    			margin-left: -100%;
			}
			.hmcover {
				a {
					@include sm {
						padding-top: 110px;
					}
					@include lg {
						height: 428px;
					}
				}
				@include sm {
					height: 258px;
				}
			}
			@include sm {
				width: 310px;
				height: 258px;
				margin-right: 20px;
			}
			@include lg {
				width: 569px;
				height: 428px;
				margin-right: 40px;
				margin-bottom: 40px;
			}
			@include zl {
				width: 935px;
				height: 419px;
				margin-bottom: 37px;
				margin-right: 37px;
			}
		}
		.hmgallery:first-child:hover {
			.hmcolor {
				margin-left: -15%;
			}
		}
		.hmgallery:last-child {
			.hmcolor {
				width: 70%;
				margin-left: -90%;
			}
			 .hmcover {
			  a {
 					@include sm {
 						padding-top: 90px;
 					}
					@include lg {
						height: 355px;
					}
 				}
				@include sm {
					height: 195px;
				}
			}
			@include sm {
				width: 358px;
				height: 195px;
			}
			@include lg {
				width: 654px;
				height: 355px;
			}
			@include zl {
				width: 654px;
				height: 357px;
			}
		}
		@include sm {
			width: 691px;
		}
		@include lg {
			width: 1265px;
		}
		@include zl {
			width: 1628px;
		}
	}
	.hmgallery:last-child:hover {
		.hmcolor {
			margin-left: -15%;
		}
	}
	.hmgallery-2 {
		position: relative;
		z-index: 1;
		.hmgallery:first-child {
			.hmcolor {
				width: 70%;
				margin-left: -100%;
			}
			.hmcover {
				a {
					@include sm {
						padding-top: 90px;
					}
					@include lg {
						height: 327px;
					}
				}
				@include sm {
					height: 195px;
				}
			}
			@include sm {
				width: 310px;
				height: 195px;
				margin-right: 20px;
			}
			@include lg {
				width: 569px;
				height: 327px;
				margin-right: 40px;
			}
			@include zl {
				width: 935px;
				height: 327px;
				margin-right: 37px;
			}
		}
		.hmgallery:first-child:hover {
			.hmcolor {
				margin-left: -13%;
			}
		}
		.hmgallery:last-child {
			.hmcolor {
				@include lg {
					width: 170%;
					margin-left: -225%;
				}
			}
			.hmcover {
				a {
					@include sm {
						padding-top: 120px;
					}
					@include lg {
						height: 395px;
					}
				}
				@include sm {
					height: 257px;
				}
			}
			@include sm {
				width: 168px;
				height: 257px;
				position: relative;
				z-index: 1;
				margin-top: -61px;
			}
			@include lg {
				width: 307px;
				height: 400px;
				margin-top: -71px;
			}
			@include zl {
				width: 309px;
				margin-top: -67px;
			}
		}
		@include sm {
			width: 691px;
		}
		@include lg {
			width: 1238px;
		}
		@include zl {
			width: 1628px;
		}
		.hmgallery:last-child:hover {
			.hmcolor {
				margin-left: -40%;
			}
		}
	}
	.hmgallery-3 {
		position: relative;
		z-index: 1;
		width: 145px;
		.hmgallery {
			.hmcolor {
				@include lg {
					width: 170%;
					margin-left: -225%;
				}
			}
			.hmcover {
				a {
					@include sm {
						padding-top: 120px;
					}
					@include lg {
						height: 395px;
					}
				}
				@include sm {
					height: 257px;
				}
			}
			@include sm {
				width: 168px;
				height: 257px;
				margin-left: 20px;
				position: relative;
				z-index: 1;
				margin-top: -61px;
			}
			@include lg {
				width: 307px;
				height: 400px;
				margin-left: 40px;
				margin-top: -71px;
			}
			@include zl {
				width: 309px;
				margin-left: 37px;
				margin-top: -67px;
			}
		}
		@include sm {
			width: 207px;
			float: left;
			clear: none;
		}
		.hmgallery:hover {
			.hmcolor {
				margin-left: -40%;
			}
		}
	}
	@include lg {
		width: 1265px !important;
	}
	@include zl {
		width: 1890px !important;
	}
}
