@import "mixins";
@import "variables";

/* Home CTAs */

.homeCTA, .img-hover, .img-link {
	position: relative;
	width: 300px;
	height: 120px;
	@include sm {
		height: 222px;
    	width: 222px;
	}
	@include md {
		height: 295px;
    	width: 295px;
	}
	@include lg {
		height: 355px;
		width: 220px;
	}
	@include yl {
		height: 505px;
		width: 330px;
	}
}
.homeCTAs {
	position: relative;
	.section-header {
			margin: 60px auto 40px;
		}
		.section-subheader {
		    padding: 0 0 40px 0;
		    max-width: 830px;
		    margin: 0 auto;
				@include lg {
		      max-width: 1050px;
		    }
		}
	.homeCTAs-wrapper {
		.homeCTA-row {
			@include sm {
				clear: both;
			}
			.homeCTA {
				background-size: cover;
				background-position: center;
				z-index: 0;
				margin: 20px auto;
				-webkit-transition: all .3s ease;
			    -moz-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    -ms-transition: all .3s ease;
			    transition: all .3s ease;
				.img-hover {
					z-index: 1;
					background-color: rgba(0,0,0,.3);
					transition: background-color 0.5s ease;
					.img-link {
						display: block;
					}
					a.img-link {
						text-decoration: none;
					}
					.ctatitle {
						font-weight: 700;
						font-size: 35px;
						color: $white;
						position: relative;
						z-index: 1;
						text-align: center;
						padding-top: 35px;
						@include sm {
							padding-top: 80px;
							transition: padding-top 0.5s ease;
						}
						@include md {
							padding-top: 110px;
						}
						@include lg {
							padding-top: 140px;
						}
						@include yl {
							padding-top: 200px;
						}
					}
					.ctatext {
						display: none;
						color: $white;
						font-size: 13px;
		    			margin: 10px auto 35px;
		    			text-align: center;
		    			padding: 0 20px;
		    			@include yl {
		    				font-size: 16px;
		    			}
					}
					.btn {
						opacity: 0;
						@include sm {
							width: 180px;
							margin: 0 auto;
							transition: opacity .25s ease-in-out;
						   	-moz-transition: opacity .25s ease-in-out;
						   	-webkit-transition: opacity .25s ease-in-out;
						}
						@include yl {
							width: 250px;
						}
					}
				}
				.img-hover:hover {
					background-color: $primarytrans;
					.ctatitle {
						@include sm {
							padding-top: 50px;
						}
						@include md {
							padding-top: 80px;
						}
						@include lg {
							padding-top: 55px;
						}
						@include yl {
							padding-top: 105px;
						}
					}
					.ctatext {
						@include lg {
							display: block;
							transition: color .25s ease-in-out;
						   	-moz-transition: color .25s ease-in-out;
						   	-webkit-transition: color .25s ease-in-out;
						}
					}
					.btn {
						@include sm {
							opacity: 1;
						}
						@include xl {
							font-size: 18px;
						}
						@include yl {
							font-size: 24px;
						}
					}
				}
				@include sm {
					float: left;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				@include yl {
					margin-right: 20px
				}
			}
			.homeCTA:last-child {
				@include sm {
					margin-right: 0;
				}
			}
			.homeCTA:hover {
				-webkit-transform: translateZ(0) scale(1.05);
			    -moz-transform: scale(1.05);
			    -ms-transform: scale(1.05);
			    -o-transform: translatZ(0) scale(1.05);
			    transform: translatZ(0) scale(1.05);
			    @include yl {
			    	-webkit-transform: translateZ(0) scale(1.1);
				    -moz-transform: scale(1.1);
				    -ms-transform: scale(1.1);
				    -o-transform: translatZ(0) scale(1.1);
				    transform: translatZ(0) scale(1.1);
			    }
			}
			@include lg {
				clear: none;
			}

		}
		.homeCTA-row-1 {
			@include lg {
				float: left;
				margin-right: 10px;
			}
			@include yl {
				margin-right: 20px;
			}
		}
		.homeCTA-row-2 {
			@include sm {
				margin: 0 auto;
				width: 454px;
			}
			@include md {
				width: 600px;
			}
			@include lg {
				width: unset;
				float: left;
			}
		}
		@include lg {
			width: 1140px;
			margin: 0 auto;
		}
		@include yl {
			width: 1730px;
		}
	}
}
