@import "variables";
@import "mixins";

/* Hero Home */
.hero-internal {
	background-size: cover;
	background-position: center;
    -webkit-box-shadow: 0 10px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 5px 0 rgba(0,0,0,0.3);
	height: 300px;
	@include sm {
		height: 650px;
	}
	@include md {
		height: 400px;
	}
	@include lg {
		height: 525px;
	}
}
