@import "mixins";
@import "variables";

/* Promotions */
.promotions-wrapper {
  background-color: $lightgrey;
  padding: 50px 0 30px;
  clear: both;
  position: relative;
  @include sm {
    padding: 0;
  }
  .promotions {
    height: 400px;
    clear: both;
    position: relative;
    z-index: 1;
    @include xxxsm {
      height: 450px;
    }
    @include sm {
      height: 640px;
    }
    .promotion-bg {
      background-size: cover;
      background-position: center;
      height: 200px;
      position: relative;
			z-index: 0;
      text-align: center;
      padding-top: 10%;
      overflow: hidden;
      @include xxxsm {
        height: 240px;
      }
      @include sm {
        height: 640px;
        text-align: left;
      }
      @include md {
        padding-top: 7.5%;
      }
      @include yl {
        padding-top: 5%;
      }
      .promotion-innerwrapper {
        @include sm {
          width: 65%;
          padding-left: 15px;
          padding-right: 15px;
          position: relative;
          z-index: 2;
        }
        @include lg {
          padding-left: 7.5%;
        }
        @include yl {
          width: 40%;
        }
        .promotion-header-small {
          color: $white;
          font-weight: 700;
          font-size: 24px;
          width: 60%;
          margin: 0 auto;
          line-height: 1;
          position: relative;
          z-index: 3;
          @include xxxsm {
            font-size: 30px;
          }
          @include sm {
            font-size: 45px;
            width: 100%;
          }
          @include yl {
            font-size: 55px;
          }
        }
        .promotion-header-large {
          color: $white;
          font-weight: 700;
          font-size: 70px;
          line-height: 1;
          position: relative;
          z-index: 3;
          @include xxxsm {
            font-size: 90px;
          }
          @include sm {
            font-size: 155px;
          }
          @include yl {
            font-size: 175px;
          }
        }
        .btn {
          margin: 0 !important;
          font-size: 22px;
          max-width: 300px;
        }
      }
    }
    .promotion-color {
      background-color: $primarytrans;
      height: 200px;
      width: 60%;
      margin-left: -15%;
      top: 0;
      position: absolute;
      z-index: 1;
      transform: skew(-20deg, 1deg) ;
      -webkit-transform: skew(-20deg, 1deg) ;
      -moz-transform: skew(-20deg, 1deg) ;
      -o-transform: skew(-20deg, 1deg) ;
      -ms-transform: skew(-20deg, 1deg) ;
      @include xxxsm {
        height: 240px;
      }
      @include sm {
        height: 700px;
        width: 75%;
        top: -5%;
      }
      @include yl {
        width: 55%;
      }
    }
    .promotion-header-sub {
      font-size: 16px;
      padding: 0 20px;
      text-align: center;
      margin: 40px auto 30px;
      @include xxxsm {
        font-size: 18px;
        width: 90%;
        margin: 60px auto 40px;
      }
      @include sm {
        text-align: left;
        font-size: 22px;
        width: 80%;
        max-width: 470px;
        color: $white;
        margin: 30px 0 40px;
        padding: 0;
      }
    }
    .slick-dots {
      position: absolute;
      top: 205px;
      height: 30px;
      display: none;
      @include xxxsm {
        top: 245px;
      }
      @include sm {
        top: unset;
        bottom: 30px;
      }
    }
    .slick-dots li {
        background-color: #eee;
        border: 2px solid $darkgrey;
        border-radius: 6px;
        display: inline-block;
        height: 12px;
        width: 12px;
        @include sm {
          border-radius: 8px;
          height: 16px;
          width: 16px;
        }
    }
    .slick-dots li.slick-active {
      background-color: $darkgrey;
    }
  }
  .prev {
    @include lg-max {
      display: none !important;
    }
    @include lg {
      position: absolute;
      top: 40%;
      left: 2.5%;
      z-index: 2;
      cursor: pointer;
    }
  }
  .next {
    @include lg-max {
      display: none !important;
    }
    @include lg {
      position: absolute;
      top: 40%;
      right: 2.5%;
      z-index: 2;
      cursor: pointer;
    }
  }
  .promotions-bxshdw {
    @include sm {
      height: 640px;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 0;
      -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
    }
  }
}
