@import "mixins";
@import "variables";

/* Product Gallery */
.gallery {
  padding-bottom: 50px;
  clear: both;
  .gallery-header {
    margin: 40px auto 10px;
  }
  .slider-wrapper {
    .slick-list {
      width: 350px;
      margin: 0 auto 20px;
      -webkit-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3);
      box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3) !important;
      .slick-track {
        .slider-img {
          background-size: cover;
          background-position: center;
          position: relative;
          z-index: 1;
          width: 350px !important;
          height: 350px;
          @include sm {
            width: 560px !important;
            height: 530px;
          }
          @include md {
            width: 750px !important;
          }
          @include lg {
            width: 925px !important;
            height: 650px;
          }
          @include xl {
            width: 1025px !important;
          }
          @include xxl {
            width: 1125px !important;
          }
          @include yl {
            width: 1325px !important;
          }
          @include zl {
            width: 1145px !important;
          }
        }
      }
      @include sm {
        width: 560px;
      }
      @include md{
        width: 750px;
      }
      @include lg {
        width: 925px;
      }
      @include xl {
        width: 1025px;
      }
      @include xxl {
        width: 1125px;
      }
      @include yl {
        width: 1325px;
      }
      @include zl {
        width: 1145px;
      }
    }
    .arrow {
      @include sm {
        display: none;
      }
    }
    .prev {
      position: absolute;
      left: 30%;
    }
    .next {
      position: absolute;
      right: 30%;
    }
    @include sm {
      display: inline-block;
      width: 80%;
    }
  }
  .slider-nav-wrapper {
    display: none;
    @include sm {
      display: inline-block;
      width: 19%;
      top: -20px;
      position: relative;
    }
    @include md {
      top: -30px;
    }
    .slick-slide {
      img {
        margin: 10px auto;
        max-width: 95px;
        -webkit-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3) !important;
        @include lg {
          max-width: 125px;
        }
      }
    }
    .arrow {
      position: relative;
      margin: 0 auto;
      text-align: center;
    }
  }
}
.product.gallery.container {
  .slider-nav-wrapper {
    @include zl {
      right: -35px;
    }
  }
  @include zl {
    width: 1380px !important;
  }
}
