@import "mixins";
@import "variables";

/* Quickform */
.stick {
    position: fixed;
    z-index: 1000;
    top: 0;
		width: 100%;
}
.quick-form {
	background-color: $primary;
	background-image: url(../images/Purple_Texture.jpg);
	height: 76px;
	.container {
		height: 76px;
	}
	.qf-header {
		color: $white;
		font-weight: 900;
		font-size: 26px;
		line-height: 1.1;
		float: left;
		width: 20%;
		padding-right: 15px;
		text-align: right;
		padding-top: 8px;
		@include xl {
			padding-left: 3%;
		}
		@include yl {
			width: 30%;
			text-align: center;
			font-size: 34px;
			padding-top: 18px;
		}
	}
	.qf-fields {
		float: left;
		width: 80%;
		@include yl {
			width: 70%;
		}
		.col {
			float: left;
			width: 20%;
			padding: 20px 7px;
			text-align: center;
			input[type=text], input[type=textarea], input[type=email] {
				width: 100%;
			}
			.btn {
				position: relative;
				top: -7px;
			}
		}
	}
}
