@import "mixins";
@import "variables";

/* Reviews */
.reviews-header {
  margin: 80px auto 40px;
}
.reviews-wrapper {
  position: relative;
  z-index: 0;
  .reviews  {
    position: relative;
    z-index: 1;
    .review {
      text-align: center;
      font-style: italic;
      color: $offblack;
      font-size: 16px;
      position: relative;
      z-index: 3;
      .review-stars {
        margin-bottom: 20px;
        i {
          color: #f8c515;
          font-size: 30px;
          margin-right: 5px;
        }
        i:last-child {
          margin-right: 0;
        }
      }
      .review-wrapper {
        @include sm {
          max-width: 400px;
          margin: 0 auto;
        }
      }
    }
    @include lg {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  .prev {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 4;
    cursor: pointer;
  }
  .next {
    position: absolute;
    top: 40%;
    right: 5%;
    z-index: 4;
    cursor: pointer;
  }
}
