@import "mixins";
@import "variables";

/* 3 Steps - Internal */
.steps {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	.section-header {
		margin-bottom: 30px;
	}
	.section-subheader {
		margin-bottom: 60px;
	}
	.step {
		.h2 {
			margin-top: 50px;
			margin-bottom: 20px;
		}
		@include lg {
			padding-left: 30px;
			padding-right: 30px;
			border-right: $darkgrey solid 1px;
		}
		@include yl {
			padding-left: 60px;
			padding-right: 60px;
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
	.step:last-child {
		border-right: none;
	}
}
