@import "mixins";
@import "variables";

/* Trust */
.trust {
    padding-top: 50px;
    padding-bottom: 50px;
    display: table;
    text-align: center;
}
.trust-img {
    display: inline-block;
    padding: 10px;
    @include sm {
      padding: 15px;
    }
    @include md {
      padding: 20px;
    }
    @include yl {
      padding: 40px;
    }
}
